/* Basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Ensure the body has no margin */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .table-container {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.export-button {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

  /* Styling the table */
  table {
    max-width: 600px; /* or any other value */
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;   
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  th, td {
    padding: 12px 15px;
  }
  
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  /* Hover Effect for Rows */
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Responsive Table */
  @media screen and (max-width: 600px) {
    table {
      width: 100%;
      display: block;
    }
  
    thead {
      display: none;
    }
  
    tr {
      margin-bottom: .625em;
      display: block;
    }
  
    td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: .8em;
      text-align: left;
      font-weight: bold;
    }
  }

  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: #0056b3;
  }